* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #ededff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 90%;
    max-width: 320px;
    background: #585b88;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: #ededff;
}

.top-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.fa-heart {
    margin-right: 10px;
}

.fa-location-dot {
    margin-left: 25px;
}

.user-img {
    width: 100px;
    border-radius: 50%;
}

.profile h2 {
    font-weight: 500;
    font-size: 24px;
    padding-top: 8px;
}

.profile p {
    font-size: 12px;
    padding: 6px 0px 25px 0px;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 12px 40px;
    background: linear-gradient(to right, #ca387c, #a3a3b3);
    border-radius: 35px;
}

#git {
    height: 48px;
    width: 48px;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.socials h2 {
    font-weight: 500;
}